{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
    erlfmt
]}.

{erlfmt, [
    write,
    {files, ["src/*.erl", "src/*.app.src", "test/*.erl", "include/*.hrl", "rebar.config"]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {plt_location, "."},
    {plt_prefix, "ulid"},
    {plt_apps, all_apps},
    {statistics, true}
]}.
